 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

 * {
     font-family: 'Poppins', sans-serif;
 }
.header_section{
    background-image: url(../img/banner1.png);
    height: 10vh;
    width: 100%;
    /* align-items: center; */
    background-repeat: no-repeat;
    /* background-size:contain; */
}
/* .banner{
    width: 100%;
    position: relative;
} */
.banner_logo{
  
    height: 120px;
    width: 120px;
}
/* .banner_text{
  
   padding-top:30px;
    
    font-size: 1.8em ;
    font-weight: bolder;
    
}
.banner_text2nd{
    font-size: 1.5em ;
    font-weight: bolder;
} */
.overview{
    /* margin: 25px, 10Spx, 10px, 25px; */
    width: 80%;
    margin-top: 50px;
}
.view{
    border-left: 8px solid #FFD600;
}
.overview-info{
    border-top-style: dotted ;
    border-color: #BEBEBE;
    font-size: 15px;
    
}
.card-img{
    height: 220px;
}
.borders{
    border-top-style: dotted;
    border-color: #BEBEBE;
    /* width: 55rem; */
}
.mission-info{
    border-right: 8px solid #148D08;
    margin-top: 20px;
}
.vision-info{
    border-left: 8px solid #148D08;
    margin-top: 25px;
}
@media screen and (max-width: 420px) {
   .banner_logo{
    /* height: 50px; */
    /* width: 50px; */
    /* margin-top: -25px; */
   }
   .banner_text{
    /* position: absolute; */
   padding-top:10px;
    /* z-index: 1; */
    font-size: 15px ;
    font-weight: bolder;
    
    }
    .banner_text2nd{
    font-size: 12px ;
    font-weight: bolder;
    margin-top: -15px;
    }
  }
  